@import '../../0_General/variables.scss';

.character_top_panel {
  max-width: $max-width;
  width: 100%;
  height: 240px;
  display: flex;
  margin: 0px auto;
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.25);

  &_character {
    width: 550px;
    height: 200px;
    padding: 20px;
    

    display: flex;
    gap: 30px;

    &_image {
      width: 180px;
      height: 180px;

      img {
        width: 100%;
        height: 100%;
        object-fit: fill;
      }
    }

    &_description {
      width: 300px;

      h2 {
        height: 16px;
        font-weight: 600;
      }

      p {
        margin-top: 13px;
        height: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: wrap;
      }

      .character_btn {
        margin-top: 15px;
        display: flex;
        gap: 30px;
      }
    }
  }

  &_random {
    max-width: 585px;
    width: 100%;
    padding: 10px 0px 35px 40px;
    background-color: #090909;
    position: relative;

    &_mjolnir {
      position: absolute;
      top: 15px;
      right: -30px;
    }

    &_shield {
      position: absolute;
      top: 100px;
      right: 80px;
    }

    &_text_block {
      color: aliceblue;

      p {
        font-size: 24px;
        font-weight: 900;
      }

      p:nth-child(3) {
        margin-top: 25px;
        margin-bottom: 20px;
      }
    }
  }
}
