.comics_main_header {
  background-color: black;
  height: 100px;
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 25px;
  border: 1px solid #cf1010;

  &_container {
    display: flex;
    align-items: center;
  }

  &_text {
    padding-left: 50px;
    font-weight: 700;
    font-size: 24px;
    color: #fff;
  }

  &_text > p:last-child {
    margin-top: 10px;
  }
}

@media (max-width: 700px) {
  .comics_main_header {
    padding-left: 0px;
    padding-right: 0px;

    &_text {
      display: none;
    }
  }
}
