.character_info_card {
  padding: 25px;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  border-radius: 10px;

  &_header {
    display: flex;
    gap: 25px;

    &_img {
      width: 150px;
      height: 150px;
      object-fit: fill;
    }

    &_contaner {
      display: flex;
      flex-direction: column;

      &_name {
        display: block;
        width: 180px;
        flex-grow: 1;
        font-weight: 700;
        font-size: 18px;
        margin-top: 5px;
      }

      &_btns {
        max-width: 150px;

        a {
          display: block;
        }

        a:last-child {
          margin-top: 10px;
        }
      }
    }
  }

  &_description {
    margin-top: 15px;
    font-weight: 400;
    font-size: 14px;
    color: #000;
  }

  &_titel_list {
    margin-top: 10px;
    font-weight: 700;
    font-size: 18px;
    color: #000;
  }

  &_comics_list {
    &_item {
      margin-top: 20px;
      padding: 5px;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: #000;
      box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
    }
  }
}
