.comics_list_card {
  padding: 0px;
  width: 235px;
  height: 415px;

  p:nth-child(2) {
    font-weight: 900;
    font-size: 14px;
  }

  p:nth-child(3) {
    font-weight: 700;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
  }
}
