.error-message {

  width: 100%;
  height: inherit;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e6dbd5;

  font-weight: 900;

  p {
    padding-top: 10px;
  }
}