.component_error_message {

  width: 100%;
  height: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e6dbd5;

  font-weight: 900;

  &_p {
    padding-top: 10px;
    text-align: center;
  }
}