@import '../../0_General/variables.scss';


.btn-clas {
  display: inline-block;
  text-align: center;
  min-width: 100px;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  clip-path: polygon(15% 0, 100% 0, 100% 85%, 85% 100%, 0 100%, 0 14%);
  transition: transform .3s;
}

.btn-clas:hover {
  transform: translateY(-5px)
}

.btn-red:disabled{
  background-color: #566461;
}

.btn-red {
  background-color: $main-color;
}

.btn-grey {
  background-color: $grey;
}