@import '../../0_General/variables.scss';

.comics_main_comics_list {
  margin-top: 50px;
  max-width: $max-width;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 60px 15px;
}

.comics_main_comics_list_add {
  display: flex;
  justify-content: center;
  padding: 30px 0px 30px;
}

.comics_list_card {
  padding: 0px;
  width: 225px;
  min-height: 415px;
  transition: transform 0.3s, box-shadow 0.1s;

  &_img {
    width: inherit;
    height: 346px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
  }

  &_title {
    margin-top: 10px;
    font-weight: 900;
    font-size: 18px;
  }

  &_price {
    display: block;
    margin-top: 10px;
    font-weight: 700;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
  }
}

.comics_list_card:hover {
  transform: translateY(-10px);
  box-shadow: 0 5px 20px 0 $main-color;
}

.comics_list_card:focus {
  border: initial;
  transform: translateY(-10px);
  box-shadow: 0 5px 20px 0 $main-color;
}

@media (max-width: 740px) {
  .comics_main_comics_list {
    justify-content: center;
  }
}
